<div class="body">
  <div class="wrapper" *ngIf="!isClicked">
    <header>
      <p class="current-date">{{ currentMonthName }} {{ currYear }}</p>
      <p class="current-date"></p>
      <div class="icons">
        <span id="prev" class="material-symbols-rounded">chevron_left</span>
        <span id="next" class="material-symbols-rounded">chevron_right</span>
      </div>
    </header>
    <div class="calendar">
      <ul class="weeks">
        <li>Sun</li>
        <li>Mon</li>
        <li>Tue</li>
        <li>Wed</li>
        <li>Thu</li>
        <li>Fri</li>
        <li>Sat</li>
      </ul>
      <ul class="days">
        <li (click)="clickedOnDay(day)" *ngFor="let day of daysInMonth">
          {{ day.getDate() }}
        </li>
      </ul>
      
      
      
      
    </div>
  </div>

  <div class="popup" *ngIf="isClicked">
    <div class="card">
      <div class="card-header">
        {{ isEditingReminder ? "Editar Lembrete" : "Criar Lembrete" }}
      </div>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Fechar"
        (click)="isClicked = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="card-body">
        <form [formGroup]="reminderForm">
          <textarea
            class="form-control"
            rows="4"
            placeholder="Digite seu texto aqui"
            formControlName="description"
          ></textarea>
          <input type="hidden" formControlName="date" />
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="saveReminder()">
          {{ isEditingReminder ? "Editar" : "Salvar" }}
        </button>
      </div>
    </div>
    <div class="reminders">
      <h2>Reminders of the day</h2>
      <ul>
        <li *ngFor="let reminder of filteredReminders()">
          {{ reminder.description }}
          <div class="btn-wrapper">
            <button  class="reminder-btn" (click)="editReminder(reminder, selectedDate!)">
              <img src="assets/edit.svg" alt="">
            </button>
            <button class="reminder-btn" (click)="deleteReminder(reminder)">
              <img src="assets/delete.svg" alt="">
            </button>
          </div>
        </li>

      </ul>
      
    </div>
    
  </div>
</div>
